In [117]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [4]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
525,tt0268397,25000000,80936232,Jimmy Neutron: Boy Genius,Debi Derryberry|Megan Cavanagh|Mark DeCarlo|Je...,John A. Davis,"He may be small, but he's got a big brain!",Jimmy Neutron is a boy genius and way ahead of...,83,Adventure|Fantasy|Animation|Action|Comedy,Nickelodeon Movies|Universal Cartoon Studios|P...,12/21/2001,5.5,2001
302,tt1075417,50000000,106303988,Race to Witch Mountain,Dwayne Johnson|AnnaSophia Robb|Alexander Ludwi...,Andy Fickman,The race is on,A taxi driver gets more than he bargained for ...,98,Adventure|Family|Fantasy|Science Fiction|Thriller,Walt Disney Pictures|Gunn Films,3/12/2009,5.4,2009
1754,tt0457433,60795000,73090611,Perfect Stranger,Halle Berry|Bruce Willis|Giovanni Ribisi|Richa...,James Foley,How Far Would You Go To Keep A Secret?,A journalist goes undercover to ferret out bus...,109,Crime|Drama|Mystery|Thriller,Columbia Pictures|Revolution Studios,4/12/2007,5.3,2007
415,tt1023114,30000000,20348249,The Way Back,Colin Farrell|Dejan Angelov|DragoÈ™ Bucur|Ed H...,Peter Weir,Their escape was just the beginning,Peter Weir's follow-up to Master &amp; Command...,133,Drama|Adventure|History,Polish Film Institute|Imagenation Abu Dhabi FZ...,9/3/2010,6.7,2010
1456,tt0425210,27000000,56308881,Lucky Number Slevin,Josh Hartnett|Bruce Willis|Lucy Liu|Morgan Fre...,Paul McGuigan,Wrong Time. Wrong Place. Wrong Number.,Slevin is mistakenly put in the middle of a pe...,110,Drama|Thriller|Crime|Mystery,The Weinstein Company|FilmEngine|Capitol Films...,2/24/2006,7.3,2006

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [170]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['genres_sep'] = data.apply(lambda row: row.genres.split('|'), axis = 1) # Создал отдельную колонку где разделил жанры и поместил в array
data['cast_sep'] = data.apply(lambda row: row.cast.split('|'), axis = 1) # Переделал столбец cast в array
data['profit'] = data.apply(lambda row: row.revenue - row.budget,axis = 1) # Создал отдельную колонку куда посместил прибыль/убыток фильмов
data['title_len'] = data.apply(lambda row: len(row.original_title), axis = 1) # Отдельная колондка для длины названий по символам
data['companies_sep'] = data.apply(lambda row: row.production_companies.split('|'), axis = 1) # Отдельная колондка для разделеных компаний
data['overview_words'] = data.apply(lambda row: len(row['overview'].split()), axis = 1) # Отдельная колондка для длины по словам из описания фильма
data['actors_comb'] =  data.apply(lambda row : list(combinations(row.cast_sep,2)), axis = 1) # Отдельная колондка для комбинаций актеров
data['month'] = data.apply(lambda row: row.release_date.split('/')[0],axis = 1) # Отдельная колондка для месяцев выпуска фильмов

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [171]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [231]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,genres_sep,cast_sep,profit,title_len,companies_sep,overview_words,actors_comb,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,...,6.3,2011,"[Adventure, Action, Fantasy]","[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",641683000,43,"[Walt Disney Pictures, Jerry Bruckheimer Films...",75,"[(Johnny Depp, PenÃ©lope Cruz), (Johnny Depp, ...",5

ВАРИАНТ 2

In [13]:
# можно добавлять разные варианты решения
data.loc[data.budget.idxmax()]

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [172]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [26]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [173]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,genres_sep,cast_sep,profit,title_len,companies_sep,overview_words,actors_comb,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,...,6.8,2011,"[Animation, Family]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...",-15540000,15,"[Walt Disney Pictures, Walt Disney Animation S...",52,"[(Jim Cummings, Travis Oates), (Jim Cummings, ...",4

# 4. Какова средняя длительность фильмов?

In [175]:
answers['4'] = '109.66 мин'
round(data.runtime.mean(),2)

109.66

# 5. Каково медианное значение длительности фильмов?

In [176]:
answers['5'] = '107 мин'
round(data.runtime.median(),2)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [177]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,genres_sep,cast_sep,profit,title_len,companies_sep,overview_words,actors_comb,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,...,7.1,2009,"[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...",2544505847,6,"[Ingenious Film Partners, Twentieth Century Fo...",28,"[(Sam Worthington, Zoe Saldana), (Sam Worthing...",12

# 7. Какой фильм самый убыточный?

In [178]:
answers['7'] = 'The Lone Ranger (tt1210819)'
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,genres_sep,cast_sep,profit,title_len,companies_sep,overview_words,actors_comb,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,6.0,2013,"[Action, Adventure, Western]","[Johnny Depp, Armie Hammer, William Fichtner, ...",-165710090,15,"[Walt Disney Pictures, Jerry Bruckheimer Films...",68,"[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi...",7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [180]:
answers['8'] = '1478 фильма'
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [181]:
# Поместил в отдельную переменную все фильмы 2008-го года
answers['9'] = 'The Dark Knight (tt0468569)'
max_profit_2008 = data[(data.release_year == 2008)].profit.max() 
film_name_row = data[data.profit == max_profit_2008]
film_name_row

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,genres_sep,cast_sep,profit,title_len,companies_sep,overview_words,actors_comb,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,...,8.1,2008,"[Drama, Action, Crime, Thriller]","[Christian Bale, Michael Caine, Heath Ledger, ...",816921825,15,"[DC Comics, Legendary Pictures, Warner Bros., ...",67,"[(Christian Bale, Michael Caine), (Christian B...",7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [182]:
# Поместил в отдельную переменную все фильмы с 2012 по 2014 г. года
answers['10'] = 'The Lone Ranger (tt1210819)'
range_films = data[(data.release_year >= 2012) & (data.release_year <= 2014)] 
range_films[range_films.profit == range_films.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,genres_sep,cast_sep,profit,title_len,companies_sep,overview_words,actors_comb,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,6.0,2013,"[Action, Adventure, Western]","[Johnny Depp, Armie Hammer, William Fichtner, ...",-165710090,15,"[Walt Disney Pictures, Jerry Bruckheimer Films...",68,"[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi...",7

# 11. Какого жанра фильмов больше всего?

In [183]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama - 782 фильма'
data.explode('genres_sep')['genres_sep'].value_counts()[0:5] # Функция explode разделяет каждый эдемент в типа list на отдельные части

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
Name: genres_sep, dtype: int64

ВАРИАНТ 2

In [147]:
all_genres_data = data.genres
genres_full = []
for i in all_genres_data:
    for genre in i.split('|'):   # Разделяю жанры по "|" в каждой строке и помещаю их в отдельный array
        genres_full.append(genre)
c = Counter(genres_full).most_common(5)
c

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [184]:
# Отфильтровал все фильмы которые, принесли убыток и затем "взорвал" столбец genres_sep для удобного подсчета по жанрам
answers['12'] = 'Drama'
data[data.profit>0].explode('genres_sep')['genres_sep'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_sep, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [185]:
# Сгруппировал всех режисеров по сумме сборов в порядке убывания
answers['13'] = 'Peter Jackson'
data.groupby(by=['director']).revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [186]:
answers['14'] = 'Michael Bay'
temp = data[data.genres.str.contains('Action')]
temp.apply(lambda row: row.director.split('|'), axis = 1)
temp.explode('director')['director'].value_counts()

Michael Bay                                  7
Paul W.S. Anderson                           7
Ridley Scott                                 6
Robert Rodriguez                             6
Antoine Fuqua                                6
                                            ..
Brian Taylor|Mark Neveldine                  1
Kevin Smith                                  1
Jay Russell                                  1
Joel Schumacher                              1
Mark Andrews|Steve Purcell|Brenda Chapman    1
Name: director, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [187]:
answers['15'] = 'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'
all_2012 = data[(data.release_year == 2012)]
list(all_2012[all_2012.revenue == all_2012.revenue.max()]['cast'])

['Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson']

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [192]:
# Поместил "высокобюджетные" *(Фильмы с бюджетом выше среднего) фильмы в отдельную переменную и взорвал столбец cast (с актерами)
answers['16'] = 'Matt Damon'
high_budget_films = data[data.budget > data.budget.mean()] 
high_budget_films.explode('cast_sep')['cast_sep'].value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Lester Speight        1
Michael York          1
Rodger Bumpass        1
Rhys Ifans            1
Nicole Sullivan       1
Name: cast_sep, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [193]:
# Отсортировал фильмы в которых, снимался Nicolas Cage и затем "взорвал" таблицу по жанрам для удобного подсчета
answers['17'] = 'Action'
data[data.cast.str.contains('Nicolas Cage')].explode('genres_sep')['genres_sep'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: genres_sep, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [207]:
# Отделил фильмы Paramount Pictures и выбрал фильм с самым большим убытком из колонки profit
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
par_pictures = data[data.production_companies.str.contains('Paramount Pictures')]
par_pictures[par_pictures.profit == par_pictures.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,genres_sep,cast_sep,profit,title_len,companies_sep,overview_words,actors_comb,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,...,6.0,2002,"[Thriller, Drama, History]","[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",-64831034,20,"[Paramount Pictures, Intermedia Films, Nationa...",23,"[(Harrison Ford, Liam Neeson), (Harrison Ford,...",7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [206]:
# Сгруппировал все фильмы по годам
answers['19'] = '2015'
years_group = data.groupby(by=['release_year']).profit.sum()
years_group.sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [205]:
# Сгруппировал строки в которых, есть Warner Bros по годам
answers['20'] = '2014'
years_group = data[data.production_companies.str.contains('Warner Bros')].groupby(by=['release_year']).profit.sum()
years_group.sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [211]:
answers['21'] = '9й - Сентябрь'
release_month = data
release_month.month.value_counts(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [212]:
# Ищем летние месяцы в Data -> month
answers['22'] = '450'
release_month.month.isin(['8','7','6']).sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [213]:
# Ищем зимние месяцы в Data -> month, month был создан выше
answers['23'] = 'Peter Jackson'
data[data.month.isin(['12','1','2'])].director.value_counts(ascending=False)

Peter Jackson                    7
Clint Eastwood                   6
Steven Soderbergh                6
Shawn Levy                       4
Adam Shankman                    4
                                ..
Dominic Sena                     1
Tom Hooper                       1
Michael Spierig|Peter Spierig    1
Christopher B. Landon            1
Len Wiseman                      1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [219]:
answers['24'] = 'Four By Two Productions'
studies = data.explode('companies_sep')
studies.groupby(by=['companies_sep'])['title_len'].agg('mean').sort_values(ascending= False) # Сортируем Компании по средней длине названия фильмов

companies_sep
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [218]:
answers['25'] = 'Midnight Picture Show'
# Переменная studies была создана выше.
studies.groupby(by=['companies_sep'])['overview_words'].agg('mean').sort_values(ascending= False) # Сортируем Компании по средней длине слов описания фильмов

companies_sep
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_words, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [227]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
votes = data.groupby(by=['original_title'])['vote_average'].agg('max').sort_values(ascending= False)
percent = round((1/100)*len(votes)) # Высчитываем 1% в количестве элементов
votes.head(percent)

original_title
The Dark Knight                                      8.1
The Imitation Game                                   8.0
Inside Out                                           8.0
Interstellar                                         8.0
Room                                                 8.0
The Grand Budapest Hotel                             7.9
The Pianist                                          7.9
Guardians of the Galaxy                              7.9
Memento                                              7.9
The Wolf of Wall Street                              7.9
Inception                                            7.9
Gone Girl                                            7.9
12 Years a Slave                                     7.9
The Lord of the Rings: The Return of the King        7.9
Prisoners                                            7.8
The Fault in Our Stars                               7.8
Eternal Sunshine of the Spotless Mind                7.8
The Prestige                                         7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [228]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'
new = data.explode('actors_comb')['actors_comb'] # Столбец ectors_comb был создан выше со всеми возможными комбинациями из 2х актеров в каждом фильме
new.value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Tim Roth, Brady Corbet)               1
(Michelle Pfeiffer, Marin Hinkle)      1
(Tim Allen, Rene Russo)                1
(Dwayne Johnson, Luke Evans)           1
(Jude Law, Omar Epps)                  1
Name: actors_comb, Length: 18121, dtype: int64

ВАРИАНТ 2

# Submission

In [232]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.66 мин',
 '5': '107 мин',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478 фильма',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama - 782 фильма',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Michael Bay',
 '15': 'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9й - Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [233]:
# и убедиться что ни чего не пропустил)
len(answers)

27